docs/survey/survery.aux
docs/survey/survery.log
docs/survey/survery.synctex.gz
docs/syllabus/syllabus.aux
docs/syllabus/syllabus.log
docs/syllabus/syllabus.out
docs/syllabus/syllabus.synctex.gz
docs/syllabus/syllabus.toc
