docs/survey/survery.aux
docs/survey/survery.log
docs/survey/survery.synctex.gz
docs/syllabus/syllabus.aux
docs/syllabus/syllabus.log
docs/syllabus/syllabus.out
docs/syllabus/syllabus.synctex.gz
docs/syllabus/syllabus.toc
python_env/edge_ai_project/requirements.txt
*.pt
app/requirements.txt
app/yolo
coco8
